@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";

// ==================================HEADER======================================
// ==================================HEADER======================================

.widgets {
  position: fixed;
  top: 29vh;
  left: 50%;
  transform: translatex(-50%);
  max-width: 1760px;
  width: 100%;
  height: 310px;
  &__socials {
    writing-mode: vertical-lr;
    line-height: 0;
    position: absolute;
    top: 72px;
    left: 5px;
  }
  &__socials-link {
    display: inline-block;
    margin-top: 24px;
    path {
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
  &__slider-wrapper {
    position: absolute;
    top: 39px;
    right: 10px;
    display: flex;
  }
  &__dot {
    height: 60px;
    text-align: right;
  }
  &__dot-link {
    display: block;
    line-height: 60px;
    padding-right: 32px;
  }
  &__slider {
    .slick-list {
      max-width: 3px;
    }
    .slick-slide {
      border: none;
      width: 3px;
      height: 60px;
    }
  }
  &__slide {
    width: 3px;
    height: 60px;
    background-color: #fff;
    opacity: 0.5;
  }
  &__slide-active {
    opacity: 1;
  }
}

.header {
  height: 100vh;
  margin-bottom: 270px;
  .container {
    max-width: 1790px;
    padding: 0 15px;
  }
  &__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 64px 0;
    transition: all .6s;
    z-index: 50;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__top--thin {
    background-color: $bgc;
    padding: 10px 0;
  }
  &__logo-link {
    margin-right: 10px;
  }
  &__menu-list {
    display: flex;
  }
  &__menu-item {
    margin-right: 40px;
    &:last-child {
      margin: 0;
    }
  }
  &__menu-link {
    line-height: 22px;
  }
  &__user-account {
    display: block;
    margin-left: 10px;
    position: relative;
    padding-left: 30px;
    font-size: 17px;
    line-height: 21px;
    @extend %g-500;
    svg {
      position: absolute;
      top: 0px;
      left: 0px;
      path {
        transition: all 0.3s;
      }
    }
    &:hover {
      color: $accent;
      path {
        fill: $accent;
      }
    }
  }
  &__body {
    padding: 29vh 0px 0px 0px;
  }
  &__body-inner {
    position: relative;
  }
  &__content {
    max-width: 950px;
    margin: 0 auto;
  }
  &__subtitle {
    @extend %g-800;
    color: $accent;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    position: relative;
    padding-left: 104px;
    margin: 0px 0px 32px 0px;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      height: 2px;
      width: 72px;
      background-color: $accent;
    }
  }
  &__title {
    @extend %cd-600;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    margin: 0px 0px 32px 0px;
  }
  &__text {
    line-height: 22px;
    position: relative;
    display: inline-block;
    padding-right: 33px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 24px;
      width: 16px;
      background: url(../images/icons/arrow-down.svg) center / cover no-repeat;
    }
  }
}

// ==================================CONTENT======================================
// ==================================CONTENT======================================

.content-item {
  padding: 150px 0px 50px;
  &__inner {
    display: flex;
    position: relative;
  }
  &__body {
    margin-right: 114px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__number {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 240px;
    line-height: 240px;
    opacity: 0.1;
  }
  &__subtitle {
    @extend %g-800;
    color: $accent;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    position: relative;
    padding-left: 96px;
    margin: 0px 0px 27px 0px;
    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      height: 2px;
      width: 72px;
      background-color: $accent;
    }
  }
  &__title {
    @extend %cd-600;
    font-size: 64px;
    line-height: 77px;
    margin: 0px 0px 27px 0px;
    max-width: 555px;
  }
  &__text {
    margin: 0px 0px 27px 0px;
  }
  &__link {
    line-height: 22px;
    color: $accent;
    padding-right: 40px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 0;
      height: 16px;
      width: 24px;
      background: url("../images/icons/arrow-right-accent.svg") center / cover no-repeat;
    }
  }
  &__image {
    flex: 0 0 auto;
    position: relative;
    width: 38.71%;
    padding: 0px 0px 49.4% 0px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &--img-left {
    .content-item__body {
      margin: 0 0 0 114px;
    }
    .content-item__image {
      order: -1;
    }
  }
}

// ==================================FOOTER======================================
// ==================================FOOTER======================================

.footer {
  padding: 150px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__outer-logo {
    display: none;
  }
  &__info {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    margin-right: 45px;
  }
  &__inter-logo {
    margin-bottom: 24px;
  }
  &__text {
    margin-bottom: auto;
  }
  &__socials {
    display: none;
  }
  &__copy {
    @extend %g-500;
    opacity: 0.5;
    margin-top: 24px;
  }
  &__col {
    max-width: 25%;
    &:nth-child(3) {
      margin-right: 45px;
    }
  }
  &__title {
    font-size: 24px;
    color: $accent;
    pointer-events: none;
  }
  &__list {
    margin-top: 24px;
  }
  &__list-item {
    margin-bottom: 16px;
    &:last-child {
      margin: 0;
    }
  }
  &__list-link {
    @extend %g-500;
  }
}

@import "media";
